.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .options {
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .agendamentos {
    text-align: left;
  }
  